
body {
    background-image: linear-gradient(#0BAB64,#3BB78F);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
}
.hide-container {
    display:none;
}
.winner-color {
    background-color: rgb(58, 13, 71) !important;
}
p {
    left: 50px;
}

#form-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}

.main-container {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 500px;
    height:500px;
    gap: 6px;
    background-image: linear-gradient(#80FF72,#7EE8FA);
}

.item {
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
}